body {
  background-color: #1e1e1e; /* VSCode dark theme background color */
  color: #d4d4d4; /* VSCode dark theme text color */
}

#main {
  display: flex;
  height: 90vh;
  width: 100vw;
  background-color: #252526; /* slightly lighter than the body background */
}

.section {
  flex-grow: 0;
  overflow: auto;
  padding: 10px;
  color: #d4d4d4; /* VSCode dark theme text color */
}

#title-section {
  height: 10vh;
  background-color: #37373d; /* slightly darker than the main background */
  color: #fff; /* white text color */
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#debug-section {
  flex-grow: 1;
  overflow: auto;
  flex-basis: 20%;
  background-color: #252526;
  display: flex;
  flex-direction: column;
}

.toggle-icon {
  cursor: pointer;
}

.sub-section-title {
  background-color: #858585;
  padding: 1%;
}

#debug-sub-section {
  overflow: auto;
  flex-basis: 40%;
  background-color: #2d2d30; /* slightly darker than the debug section background */
  transition: flex-basis 0.3s ease;
}

#terminal-sub-section {
  overflow: auto;
  flex-basis: 60%;
  background-color: #2d2d30; /* even darker */
  transition: flex-basis 0.3s ease;
}

#code-section {
  flex-basis: 40%;
  background-color: #1e1e1e;
}

#editor {
  width: 100%;
  height: 100%;
  color: #d4d4d4; /* VSCode dark theme text color */
  background-color: #1e1e1e; /* VSCode dark theme background color */
}

#graph-section {
  flex-grow: 1;
  flex-basis: 40%;
  background-color: #252526;
}

.resizer {
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
  cursor: ew-resize;
}

.horizontal-resizer {
  flex-basis: 10px;
  background: #666; /* darker than other sections */
}

.vertical-resizer {
  flex-basis: 10px;
  background: #666;
  cursor: ns-resize;
}
